.idea/
.vscode/
dist
cmd/httpX/httpX
integration_tests/httpX
integration_tests/integration-test
cmd/functional-test/httpX_dev
cmd/functional-test/functional-test
cmd/functional-test/httpX
cmd/functional-test/*.cfg

.devcontainer
/httpX
/dist
/resume.cfg